.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 0.5%;
    padding: 0.5%;
    clear: both;
    text-transform: uppercase;
}

.img-logo {
    width: 40%;
}

.header-title {
    font-size: 20px;
    font-weight: 600;
}

.navigation {
    display: flex;
    width: 5%;
    justify-content: space-around;
    cursor: pointer;
}